body{
    margin: 0;
    font-family: system-ui;
    background-image: url('{{bg.jpg}}')
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: blue;
}
